<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihomy.mapper.BlogMapper">

    <update id="incrViewCount">
        UPDATE content_blog SET view_count = view_count + 1 WHERE id = #{id}
    </update>

    <select id="selectCategoriesByFamily" resultType="java.lang.String">
        SELECT DISTINCT category FROM content_blog
        WHERE family_id = #{familyId} AND category IS NOT NULL AND category &lt;&gt; '' AND deleted = 0
        ORDER BY category
    </select>

    <select id="selectCategoryCounts" resultType="java.util.Map">
        SELECT category, COUNT(*) AS cnt
        FROM content_blog
        WHERE family_id = #{familyId} AND category IS NOT NULL AND category &lt;&gt; '' AND deleted = 0
          AND status = 'PUBLISHED'
          <if test="!isOwner and authorId != null">
            AND (author_id = #{authorId} OR visibility IN ('FAMILY', 'PUBLIC'))
          </if>
          <if test="!isOwner and authorId == null">
            AND visibility = 'PUBLIC'
          </if>
        GROUP BY category
    </select>

    <update id="renameCategory">
        UPDATE content_blog SET category = #{newName}
        WHERE family_id = #{familyId} AND category = #{oldName} AND deleted = 0
    </update>

    <update id="renameCategoryPrefix">
        UPDATE content_blog SET category = CONCAT(#{newPrefix}, SUBSTRING(category, CHAR_LENGTH(#{oldPrefix}) + 1))
        WHERE family_id = #{familyId} AND category LIKE CONCAT(#{oldPrefix}, '%') AND deleted = 0
    </update>

    <update id="clearCategory">
        UPDATE content_blog SET category = NULL
        WHERE family_id = #{familyId} AND category = #{category} AND deleted = 0
    </update>

    <delete id="deleteByCategory">
        DELETE FROM content_blog
        WHERE family_id = #{familyId} AND category = #{category} AND deleted = 0
    </delete>

</mapper>
